<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Update test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
      }
      button {
        height: 36px;
        border-radius: 3.25px;
        background: rgba(0, 0, 0, 0.05);
      }
      button:hover {
        background: rgba(34, 177, 152, 0.25);
      }
      .randBlock {
        min-height: 50px;
        min-width: 50px;
        z-index: -10;
        position: absolute;
      }
      #worked {
        list-style-type: circle;
      }
    </style>
  </head>
  <body>
    {% csrf_token %}
    <h1>Track Your Work</h1>
    <form>
      <p>Project Title: <input id='title' type="text" name="title"></p>
    </form>
    <p>Seconds: <span id="second"></span></p>
    <p>Minutes: <span id="minute">None Yet!</span></p>
    <p>Hours: <span id="hour">None Yet!</span></p>
    <div>
      <button type="button" id="start">Start</button>
      <button type="button" id="stop">Stop</button>
      <button type="button" id="clear">Clear</button>
    </div>
    <h3>How long you've worked: <span id="workedTotal"></span></h3>
    <ul id="worked">
    </ul>
    <!-- <p>Key pressed: </p>
    <div id="controls">None Yet!</div> -->
    </div>
  </body>
  <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
  </script>
  {% load static %}
  <script src="{% static "timelogic.js" %}"></script>
</html>
